body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  margin-bottom: 250px;
}

.logo {
  margin-left: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 100px;
  justify-content: center;
}
@media (max-width:767px) {
  .logo {
    font-size: 50px;
  }
}

nav {
  background: rgb(57, 57, 61);
  height: 100px;
  margin-bottom: 100px;
}
@media (max-width:767px) {
  nav {
    margin-bottom: 20px;
  }
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:767px) {
  nav ul {
    padding: 0;
  }
}
nav ul li {
  flex: 1;
  text-align: center;
}
nav ul li a {
  line-height: 100px;
  font-size: 20px;
  color: white;
}

.main {
  padding: 0px 0;
  width: 100%;
}
@media (max-width:767px) {
  .main {
    width: 90%;
  }
}

.wrap-wrap {
  padding: 400px 0 200px 0;
  background: url(https://media.istockphoto.com/id/1174734062/ko/%EC%82%AC%EC%A7%84/%EB%B0%B0%EA%B2%BD-%EC%A7%88%EA%B0%90-%EB%B0%8F-%EB%B0%B0%EA%B2%BD-%ED%99%94%EB%A9%B4%EC%9A%A9-%EC%98%A4%EB%9E%98%EB%90%9C-%EB%B2%BD%EB%8F%8C-%EB%B2%BD.jpg?s=1024x1024&w=is&k=20&c=EOwRdKWRe-7PDmxkjc8Pg-KrOAH3-QbqkJR7SPiBlUY=);
}
.wrap-wrap .wrap {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}
@media (min-width:1270px) {
  .wrap-wrap .wrap {
    background: url(https://i.namu.wiki/i/6ssCAw8JIsvKCk33Xz5TGiP1gpqTo-UIX2vI_1c0fQswBlqEDBKA4NfukubAnjSWkE3CrTdgi9vrbNsdc0LzHwQbMrd0RxQMXuQA4ZmuNja2a-g3NQQKOMlRpdwdTSU4u2L-StGOI3ZpzgLA3pqCvw.webp) no-repeat no-repeat center center;
  }
}
@media (max-width:767px) {
  .wrap-wrap .wrap {
    height: 600px;
    width: 100%;
    background: url(/brick/pngegg.png) center center no-repeat;
    background-size: 100px contain;
    align-items: start;
  }
}

canvas {
  border: solid red 1px;
  background-color: white;
}
@media (min-width:1270px) {
  canvas {
    width: 35%;
    height: 70%;
    min-width: 650px;
  }
}
@media (max-width:767px) {
  canvas {
    width: 75%;
    height: 50%;
    margin-top: 30px;
  }
}

@media (min-width:1270px) {
  .btn {
    padding-bottom: 200px;
    margin: auto;
    width: 500px;
  }
}
.btn .start {
  font-family: "Permanent Marker", cursive;
}
@media (min-width:1270px) {
  .btn .start {
    font-size: 50px;
    border-radius: 50px;
    background: rgb(147, 216, 153);
    width: 500px;
    height: 100px;
  }
  .btn .start:active {
    background: rgb(53, 53, 50);
  }
}

.tip_wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 400px 0px 150px 65px;
  background: url(../img/board.jpg) no-repeat center;
  background-size: cover;
}
.tip_wrap h1 {
  display: inline-block;
}
.tip_wrap .tip_input {
  display: inline;
}
.tip_wrap .tip_input input {
  width: 60%;
  height: 50px;
  margin: auto;
}
@media (min-width:1270px) {
  .tip_wrap .tip {
    padding: 100px 50px 100px 0;
    margin: 0 auto;
    width: 40%;
    background-color: rgba(239, 241, 226, 0);
    min-height: 700px;
  }
}
.tip_wrap .tip .item_row {
  position: relative;
  margin-bottom: 30px;
}
.tip_wrap .tip .item_row::before {
  content: "";
  display: block;
  background: url(../img/pngwing.com.png) center center no-repeat;
  position: absolute;
  left: -30px;
  width: 20px;
  height: 20px;
  background-size: cover;
}
.tip_wrap .tip .item_row i {
  font-size: 20px;
  color: red;
}
.tip_wrap .tip .item_row button {
  float: right;
  background: transparent;
  border: none;
}

.How-to {
  padding: 100px 0;
  flex: 0.3;
  background: white;
}
.How-to img {
  width: 100px;
  height: 100px;
}

.image {
  background: #131b16 url("../img/neon.avif") center no-repeat;
  background-size: 100%;
  padding: 100vh 100px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image .arc {
  opacity: 1;
  position: relative;
  bottom: -600px;
  left: -1100px;
  width: 40%;
  height: 50%;
}
.image .say {
  width: 80%;
  padding-left: 50px;
  color: white;
  font-size: 100px;
}

.record-wrap {
  background: url("../img/yellow.jpg") center no-repeat;
  background-size: cover;
  padding: 300px 0px;
  height: 100%;
}
.record-wrap .record {
  background: white;
}
@media (min-width:1270px) {
  .record-wrap .record {
    margin: 0px auto;
    width: 70%;
    height: 500px;
  }
}

footer {
  background: black;
  color: white;
  width: 100%;
  padding: 50px 0;
  text-align: center;
}/*# sourceMappingURL=main.css.map */