body {
  background: url(https://media.istockphoto.com/id/1174734062/ko/%EC%82%AC%EC%A7%84/%EB%B0%B0%EA%B2%BD-%EC%A7%88%EA%B0%90-%EB%B0%8F-%EB%B0%B0%EA%B2%BD-%ED%99%94%EB%A9%B4%EC%9A%A9-%EC%98%A4%EB%9E%98%EB%90%9C-%EB%B2%BD%EB%8F%8C-%EB%B2%BD.jpg?s=1024x1024&w=is&k=20&c=EOwRdKWRe-7PDmxkjc8Pg-KrOAH3-QbqkJR7SPiBlUY=);
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  background: rgba(204, 215, 230, 0.438);
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s;
}

.scr {
  position: sticky;
  transform: translateY(-300px);
}

.logo {
  padding-top: 50px;
  margin-left: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 50px;
  justify-content: center;
}
@media (max-width:767px) {
  .logo {
    font-size: 50px;
  }
}

.scr nav {
  opacity: 0;
  transition: 0.5s;
}

nav {
  background: rgb(57, 57, 61);
  height: 100px;
  margin-top: 100px;
}
@media (max-width:767px) {
  nav {
    margin-bottom: 20px;
  }
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:767px) {
  nav ul {
    padding: 0;
  }
}
nav ul li {
  flex: 1;
  text-align: center;
}
nav ul li a {
  line-height: 100px;
  font-size: 20px;
  color: white;
}

.main {
  padding: 0px 0;
  width: 100%;
}
.wrap-wrap {
  padding: 500px 0 200px 0;
  background: url(https://media.istockphoto.com/id/1174734062/ko/%EC%82%AC%EC%A7%84/%EB%B0%B0%EA%B2%BD-%EC%A7%88%EA%B0%90-%EB%B0%8F-%EB%B0%B0%EA%B2%BD-%ED%99%94%EB%A9%B4%EC%9A%A9-%EC%98%A4%EB%9E%98%EB%90%9C-%EB%B2%BD%EB%8F%8C-%EB%B2%BD.jpg?s=1024x1024&w=is&k=20&c=EOwRdKWRe-7PDmxkjc8Pg-KrOAH3-QbqkJR7SPiBlUY=);
}
@media (min-width:768px) and (max-width:1269px) {
  .wrap-wrap {
    padding: 300px 0 100px 0;
    background-size: cover;
    width: 100%;
  }
}
.wrap-wrap .wrap {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background: url(../img/nin.webp) no-repeat no-repeat center center;
}
@media (min-width:768px) and (max-width:1269px) {
  .wrap-wrap .wrap {
    background: url(../img/nin.webp) no-repeat no-repeat center center;
    width: 100%;
    background-size: 100%;
  }
}
@media (max-width:767px) {
  .wrap-wrap .wrap {
    height: 600px;
    width: 100%;
    background: url(/brick/pngegg.png) center center no-repeat;
    background-size: 100px contain;
    align-items: start;
  }
}

canvas {
  border: solid black 5px;
  background-color: white;
  height: 70%;
  width: 650px;
}
@media (max-width:767px) {
  canvas {
    width: 75%;
    height: 50%;
    margin-top: 30px;
  }
}
@media (min-width:768px) and (max-width:1269px) {
  canvas {
    width: 70%;
    height: 65%;
    margin-top: 0px;
  }
}

.btn {
  padding-bottom: 200px;
  margin: auto;
  width: 500px;
}
@media (min-width:1270px) {
  .btn {
    padding-bottom: 200px;
    margin: auto;
    width: 500px;
  }
}
.btn .start {
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
  border-radius: 50px;
  background: rgb(147, 216, 153);
  width: 500px;
  height: 100px;
}
.btn .start:active {
  background: rgb(53, 53, 50);
}
@media (min-width:1270px) {
  .btn .start {
    font-size: 50px;
    border-radius: 50px;
    background: rgb(147, 216, 153);
    width: 500px;
    height: 100px;
  }
  .btn .start:active {
    background: rgb(53, 53, 50);
  }
}

.tip_wrap {
  box-sizing: border-box;
  background: url(../img/board.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
}
@media (min-width:1270px) {
  .tip_wrap {
    width: 100%;
    padding: 500px 0px 200px 65px;
  }
}
@media (min-width:768px) and (max-width:1269px) {
  .tip_wrap {
    width: 100%;
    height: 100vh;
    padding: 200px 0px 100px 0px;
    box-sizing: border-box;
  }
}
.tip_wrap h1 {
  position: relative;
  top: -100px;
  display: inline-block;
}
@media (min-width:768px) and (max-width:1269px) {
  .tip_wrap h1 {
    top: 0;
    margin-left: 30px;
  }
}
.tip_wrap .tip_input {
  text-align: center;
  display: inline-block;
  margin: auto;
  width: 100%;
}
@media (min-width:768px) and (max-width:1269px) {
  .tip_wrap .tip_input {
    padding-left: 5%;
    width: 90%;
  }
}
.tip_wrap .tip_input input {
  width: 40%;
  height: 50px;
  margin: auto;
}
.tip_wrap .tip_input button {
  height: 55px;
  border-radius: 10px;
  background: transparent;
}
@media (min-width:1270px) {
  .tip_wrap .tip {
    padding: 100px 50px 100px -50px;
    margin: 0 auto;
    width: 40%;
    background-color: rgba(239, 241, 226, 0);
    min-height: 600px;
  }
}
@media (min-width:768px) and (max-width:1269px) {
  .tip_wrap .tip {
    width: 40%;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
    box-sizing: border-box;
    height: 350px;
  }
}
.tip_wrap .tip .item_row i {
  font-size: 20px;
  color: red;
}
.tip_wrap .tip .item_row button {
  float: right;
  background: transparent;
  border: none;
}
@media (min-width:1270px) {
  .tip_wrap .tip .item_row {
    position: relative;
    margin-bottom: 30px;
  }
  .tip_wrap .tip .item_row::before {
    border-radius: 50px;
    content: "";
    display: block;
    background: rgba(255, 0, 0, 0.425) url(../img/pngwing.com.png) center center no-repeat;
    position: absolute;
    top: 10px;
    left: -30px;
    width: 30px;
    height: 30px;
    background-size: cover;
  }
  .tip_wrap .tip .item_row .item {
    text-align: start;
    padding-left: 20px;
    font-family: "Nanum Pen Script", cursive;
    font-size: 40px;
  }
}

.How-to {
  margin: auto;
  width: 100%;
  padding: 200px 0;
  text-align: center;
  background: white;
}
@media (min-width:768px) and (max-width:1269px) {
  .How-to {
    height: 100vh;
    padding: 50;
  }
}
.How-to .How {
  margin-bottom: 100px;
}
@media (min-width:768px) and (max-width:1269px) {
  .How-to .How {
    padding-top: 20px;
  }
}
.How-to img {
  width: 80%;
}
@media (min-width:768px) and (max-width:1269px) {
  .How-to img {
    margin-top: 10%;
  }
}
@media (min-width:1270px) {
  .How-to img {
    width: 500px;
    height: 300px;
  }
}

.image {
  background: #131b16 url("../img/neon.avif") center no-repeat;
  background-size: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width:768px) and (max-width:1269px) {
  .image {
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width:1270px) {
  .image {
    padding: 100vh 100px;
  }
}
.image .arc {
  opacity: 0;
  position: relative;
  width: 30%;
  height: 50%;
}
@media (min-width:768px) and (max-width:1269px) {
  .image .arc {
    position: static;
    opacity: 1;
    width: 50%;
    height: 40%;
    margin-bottom: 40px;
  }
}
.image .say {
  width: 70%;
  text-shadow: -1px 0px rgb(255, 0, 119), 0px 1px red, 1px 0px red, 0px -1px red;
  font-weight: bold;
  font-size: 25px;
  color: white;
}
@media (min-width:1270px) {
  .image .say {
    padding-left: 70px;
    font-size: 70px;
  }
}

.record-wrap {
  text-align: center;
  background: url("../img/yellow.jpg") center no-repeat;
  background-size: cover;
  padding: 300px 0px;
  height: 100%;
  box-sizing: border-box;
}
@media (min-width:768px) and (max-width:1269px) {
  .record-wrap img {
    width: 100%;
  }
}
@media (min-width:1270px) {
  .record-wrap img {
    margin-bottom: 50px;
  }
}
@media (min-width:768px) and (max-width:1269px) {
  .record-wrap {
    padding: 100px 0px;
  }
}
.record-wrap .record {
  background: rgba(255, 255, 255, 0.466);
  margin: 0px auto;
  width: 70%;
  height: 500px;
}
@media (min-width:768px) and (max-width:1269px) {
  .record-wrap .record {
    height: 400px;
    width: 80%;
  }
}
.record-wrap .record .record-ul {
  padding: 20px 20px;
}
.record-wrap .record .record-ul li {
  font-size: 50px;
  font-weight: bold;
}
.record-wrap .record .record-ul li hr {
  color: red;
}

footer {
  background: black;
  color: white;
  width: 100%;
  padding: 50px 0;
  text-align: center;
}/*# sourceMappingURL=main.css.map */