$mobile: "(max-width:767px)";

$tablet: "(min-width:768px) and (max-width:1269px)";
$pc: "(min-width:1270px)";


body {position: relative;
  
  box-sizing: border-box;
  background: url(https://media.istockphoto.com/id/1174734062/ko/%EC%82%AC%EC%A7%84/%EB%B0%B0%EA%B2%BD-%EC%A7%88%EA%B0%90-%EB%B0%8F-%EB%B0%B0%EA%B2%BD-%ED%99%94%EB%A9%B4%EC%9A%A9-%EC%98%A4%EB%9E%98%EB%90%9C-%EB%B2%BD%EB%8F%8C-%EB%B2%BD.jpg?s=1024x1024&w=is&k=20&c=EOwRdKWRe-7PDmxkjc8Pg-KrOAH3-QbqkJR7SPiBlUY=);

  margin: 0;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
header {
  z-index: 999;
  @media #{$pc} {
    position: sticky;
    top: 0;
    left: 0;
  }
  position: sticky;
  top: 0;
  left: 0;
  background: rgba(204, 215, 230, 0.438);
 
  width: 100%;
  transition: 0.5s;
}
.scr {
  
  position: sticky;
  top:0;
  transform: translateY(-200px);
  
}
.logo {
  
  margin-left: 0;
  
  text-align: center;
  font-weight: bold;
  color: rgb(121, 47, 47);
  font-size: 50px;
  justify-content: center;

  @media #{$mobile} {
    font-size: 50px;
  }
}
.scr nav {
  opacity: 0;
  transition: 0.5s;
}
nav {
  background: rgb(57, 57, 61);
  height: 100px;
 
  @media #{$mobile} {
    height: 50px;
    margin-bottom: 20px;
  }
  @media #{$tablet} {
    height: 50px;
    
  }
  ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media #{$mobile} {
     
    }
    li {
      flex: 1;
      text-align: center;
      a {
        @media #{$mobile} {
          line-height: 50px;
        }
        @media #{$tablet} {
          line-height: 50px;
        }
        line-height: 100px;
        font-size: 20px;
        color: white;
      }
    }
  }
}
.main {
  padding: 0px 0;
  width: 100%;

  @media #{$mobile} {
  }
}
.wrap-wrap {
  padding: 500px 0 200px 0;
  background: url(https://media.istockphoto.com/id/1174734062/ko/%EC%82%AC%EC%A7%84/%EB%B0%B0%EA%B2%BD-%EC%A7%88%EA%B0%90-%EB%B0%8F-%EB%B0%B0%EA%B2%BD-%ED%99%94%EB%A9%B4%EC%9A%A9-%EC%98%A4%EB%9E%98%EB%90%9C-%EB%B2%BD%EB%8F%8C-%EB%B2%BD.jpg?s=1024x1024&w=is&k=20&c=EOwRdKWRe-7PDmxkjc8Pg-KrOAH3-QbqkJR7SPiBlUY=);
  @media #{$tablet} {
    padding: 300px 0 100px 0;
    background-size: cover;
    width: 100%;
  }
  @media #{$mobile} {
  padding: 100px 0 200px 0; 
  }
  .wrap {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;

    background: url(../img/nin.webp) no-repeat no-repeat center center;
    @media #{$tablet} {
      background: url(../img/nin.webp) no-repeat no-repeat center center;
      width: 100%;
      background-size: 100%;
    }
    @media #{$mobile} {
      height: 600px;
      width: 100%;
      background: url(../pngegg.png) center center no-repeat;
      background-size: 100px contain;
      align-items: start;
    }
  }
}
canvas {
  border: solid black 5px;
  background-color: rgb(0, 0, 0);

  height: 70%;
  width: 650px;

  @media #{$mobile} {
    width: 340px;
    height: 50%;
    margin-top: 30px;
  }
  @media #{$tablet} {
    width: 70%;
    height: 65%;
    margin-top: 0px;
  }
}
.btn {
  position: relative;
  z-index: 100;
  padding-bottom: 200px;
  margin: auto;
  width: 500px;
  @media #{$pc} {
    padding-bottom: 200px;
    margin: auto;
    width: 500px;
  }
  @media #{$mobile} {
    position: relative;
    width: 100%;
  }
  .start { z-index: 100;
    display: block;
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
    border-radius: 50px;
    background: rgb(147, 216, 153);
    width: 300px;
    margin: auto;
    height: 100px;
    @media #{$mobile} {
      display: block;
     
      background: rgb(86, 190, 115);
margin: auto;
     position: relative;
      width: 200px;
      top:-140px;
      border-radius: 20px;
      height: 60px;
      font-size: 20px;
      color: #1b38b9;
    }
    &:active {
      background: rgb(53, 53, 50);
    }
    @media #{$pc} {
      font-size: 50px;
      border-radius: 50px;
      background: rgb(147, 216, 153);
      width: 500px;
      height: 100px;
      &:active {
        background: rgb(53, 53, 50);
      }
    }
  }
}
.arrow {
  position: relative;
  @media #{$pc} {
    display: none;
  }
  @media #{$mobile} {
   
    top: -550px;
    width: 350px;
  }
  @media #{$tablet} {
    width:800px ;
  top: -370px;
  
    
  
  }

  width: 500px; margin: auto;
  button {display: inline-block;
    @media #{$mobile} { width: 130px;
    }
    @media #{$tablet} {width:200px ;}
    background: rgb(4, 255, 25);
    border-radius: 50px;
    box-sizing: border-box;
    width: 100px;
    img{
      width: 100%;
    }

  }
  .right{
    float: right;
  }
  &::after{
    display: block;
    content: "";
    clear: both;
  }
}
.tip_wrap {
  box-sizing: border-box;

  @media #{$pc} {
    width: 100%;

    padding: 400px 0px 200px 65px;
  }
  @media #{$tablet} {
    width: 100%;
    height: 100vh;
    padding: 100px 0px 100px 0px;
    box-sizing: border-box;
  }
  @media #{$mobile} {
    height: 100vh;
    padding: 35vh 0px 100px 0px;
  }
  background: url(../img/board.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  h1 {
    position: relative;
    top: -100px;
    display: inline-block;
    @media #{$tablet} {
      top: 0;
      margin-left: 30px;
    }
    @media #{$mobile} {
      top: 30px;
      margin: 0 0 0 30px;
     
    }
  }

  .tip_input {
    text-align: center;
    display: inline-block;
    margin: auto;
    width: 100%;
    @media #{$tablet} {
      padding-left: 5%;
      width: 90%;
    }
    @media #{$mobile} {
      padding-left: 5%;
      width: 85%;
    }
    input {
      width: 40%;
      height: 50px;
      margin: auto;
    }
    button {
      height: 55px;
      border-radius: 10px;
      background: transparent;
    }
  }

  .tip {
    @media #{$pc} {
      padding: 100px 50px 100px -50px;

      margin: 0 auto;
      width: 40%;
      background-color: rgba(239, 241, 226, 0);
      min-height: 500px;
    }
    @media #{$tablet} {
      width: 40%;
      margin: 0 auto;
      padding: 20px 0px 20px 0px;
      box-sizing: border-box;
      height: 350px;
    }
    @media #{$mobile} {
      width: 50%;
      margin: 0 auto;
      padding: 30px 0px 20px 0px;
      box-sizing: border-box;
      height: 50%;
    }

    .item_row {
      i {
        font-size: 20px;
        color: red;
        
      }
      button {
        &::after{
          display: block;
          content: "";
          clear: both;
        }
        float: right;
        position: relative;
        top: 10px;
        background: transparent;
        border: none;
        @media #{$mobile} {top:0}
      }
      position: relative;
      &::before {
        border-radius: 50px;
        content: "";
        display: block;
        background: rgba(255, 0, 0, 0.425) url(../img/pngwing.com.png) center
          center no-repeat;
        position: absolute;
        top: 10px;
        left: -30px;
        width: 30px;
        height: 30px;
        @media #{$mobile} {
          top: 0px;
        left: -10px;
        width: 20px;
        height: 20px;
        }
        background-size: cover;
      }
      @media #{$pc} {
        margin-bottom: 30px;
       
        
      }
      .item {
          text-align: start;
          padding-left: 20px;
          font-family: "Nanum Pen Script", cursive;
          font-size: 40px;
          @media #{$mobile} {
            font-size: 20px;
          }
        }
    }
  }
}
.How-to {
  position: relative;
  margin: auto;
  width: 100%;
  padding: 200px 0;
  text-align: center;
  .h-images{
    @media #{$tablet}{display: flex; height: 100%;
    justify-content: center;
  align-items: start;}
    font-size: 100px;
    /*
    div {
      bottom: 180px;
      position: absolute;
      width: 200px; height: 200px;
      border: red solid 10px ;
      border-radius: 100%;
    }
    .red1 {
      left: 380px;
    }
    .red2 {
          left: 720px;
    }
 */
  }

  background: white;
  @media #{$tablet} {
    height: 100vh;
    padding: 0px;
  }
  .How {
   
    margin-bottom: 100px;
    @media #{$tablet} {
      padding-top: 20px;
    }
  }
  img {
    width: 80%;
    @media #{$tablet} {
      width: 50%;
      margin-top: 10%;
    }
    @media #{$pc} {
      width: 500px;

      height: 300px;
    }
   
  }
  @keyframes ani { 
    0% { transform: translateX(-50px); } 
  
    40% { transform: translateX(50px); } 
    50% { transform: translateX(0px); } 
    60% { transform: translateX(50px);}
    100% { transform: translateX(-50px); } 
}
  .mouse{
    //animation: ani 1s linear forwards;
    height: 500px;
    @media #{$tablet} {
      width: 50%;
      height: 50%;
    }
    @media #{mobile}{
      padding-left: 50px;
    }
  }
}

.image {
  background: #131b16 url("../img/neon.avif") center no-repeat;
  background-size: 100%;

  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media #{$tablet} {
    flex-direction: column;
    justify-content: center;
  }
  @media #{$pc} {
    padding: 100vh 100px;
  }
  @media #{$mobile} {
    display: block;
    text-align: center;
  }

  .arc {
    @media #{$tablet} {
      position: static;
      opacity: 1;
      width: 50%;
      height: 40%;
      margin-bottom: 40px;
    }
    @media #{$mobile} {
      margin-top: 100px;
      position: static;
      opacity: 1;
      width: 90%;
      height: 40%;
      margin-bottom: 40px;
    }
    opacity: 0;
    position: relative;

    width: 30%;
    height: 50%;
  }

  .say {
    width: 70%;
    text-shadow: -1px 0px rgb(255, 0, 119), 0px 1px red, 1px 0px red,
      0px -1px red;
    font-weight: bold;
    font-size: 25px;
    color: white;
    @media #{$pc} {
      padding-left: 70px;
      font-size: 70px;
    }
    @media #{$mobile} {
      margin: auto;
      width: 90%;
    }
  }
}
.record-wrap {
  text-align: center;
  background: url("../img/yellow.jpg") center no-repeat;
  background-size: cover;
  padding: 300px 0px;
  height: 100%;
  @media #{$mobile} {
    padding: 100px 0px;
  }
  img {
    @media #{$tablet} {
      width: 100%;
    }
    @media #{$mobile} {
      width: 100%;
    }
    @media #{$pc} {
      margin-bottom: 50px;
    }
  }
  @media #{$tablet} {
    padding: 100px 0px;
  }
  box-sizing: border-box;
  .record {
    background: rgba(255, 255, 255, 0.466);
    margin: 0px auto;
    width: 70%;
    height: 500px;
    @media #{$tablet} {
      height: 400px;
      width: 80%;
    }
    @media #{$mobile} {
      width: 90%;
    }

    .record-ul {
      padding: 20px 20px;
      li {
        font-size: 50px;
        font-weight: bold;
        @media #{$tablet} {
          font-size: 40px;
        }
        hr {
          color: red;
        }
      }
    }
  }
}
//!-------------ë°œ----------------//

footer {
  background: black;

  color: white;

  width: 100%;
  padding: 50px 0;
  text-align: center;
}
